<h3>Log In</h3>

<% form_for :session, :url => session_path do |form| %>
  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>

  <p><%= button_submit_tag "Log in" %></p>
<% end -%>
